#page-create-insc {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#page-create-insc header {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-create-insc header a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: medium;
  display: flex;
  align-items: center;
}

#page-create-insc header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-create-insc form {
  margin: 70px auto;
  padding: 64px;
  max-width: 830px;
  background: #fff;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

#page-create-insc form h1 {
  font-size: 26px;
}

#page-create-insc form fieldset {
  margin-top: 64px;
  min-inline-size: auto;
  border: 0;
}

#page-create-insc form legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#page-create-insc form legend h2 {
  font-size: 24px;
}

#page-create-insc form legend span {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

#page-create-insc form .field-group {
  flex: 1;
  display: flex;
}

#page-create-insc form .field {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
#page-create-insc form .field input[type="date"],
#page-create-insc form .field input[type="text"],
#page-create-insc form .field input[type="email"],
#page-create-insc form .field input[type="number"] {
  flex: 1;
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

#page-create-insc form .field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

#page-create-insc form .field input::placeholder {
  color: #a0a0b2;
}

#page-create-insc form .field label {
  font-size: 18px;
  margin-bottom: 8px;
}

#page-create-insc form .field :disabled {
  cursor: not-allowed;
}

#page-create-insc form .field-group .field + .field {
  margin-left: 24px;
}

#page-create-insc form .field-group input + input {
  margin-left: 24px;
}


#page-create-insc form button {
  width: 260px;
  height: 56px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  align-self: flex-end;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#page-create-insc form button:hover {
  background: #2fb86e;
}
.events-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  list-style: none;
}

.events-grid li {
  background: #f5f5f5;
  border: 2px solid #f5f5f5;
  height: 250px;
  border-radius: 10px;
  padding: 24px 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  cursor: pointer;
}

.events-grid li span {
  flex: 1;
  margin-top: 5px;
  font-size: medium;
  display: flex;
  align-items: center;
  color: var(--title-color);
}

.events-grid li.selected {
  background: #e1faec;
  border: 2px solid #34cb79;
}